---
import AstroICON from '../icons/Astro.astro';
import WixIcon from '../icons/Wix.astro';
import TailwindIcon from '../icons/Tailwind.astro';
import PythonIcon from '../icons/Python.astro';
const TAGS={
    ASTRO:{
        title:"Astro",
        class:"bg-[#d83333] text-black",
        icon: AstroICON,
    },
    WIX:{
        title:"Wix",
        class:"bg-white text-black",
        icon: WixIcon
    },
    TAILWIND:{
        title:"Tailwind CSS",
        class:"bg-white text-[#73bcf6]",
        icon: TailwindIcon
    },
    PYTHON:{
        title:"Python",
        class:"bg-[#3776ab] text-white",
        icon: PythonIcon
    },

}


const PROJECTS = [
    {   
        title:"Auto-Sigos",
        description: "Creado en Python. Es un software que automatiza procesos en la plataforma GlobalRoamer mediante web scraping, reduciendo significativamente el tiempo que los analistas de Tigo dedican a la creación de pruebas para el uso de líneas telefónicas nacionales (colombianas) desde el exterior.",
        link: "",
        github:"",
        image:"/projects/Auto-Sigos.webp",
        tags:[TAGS.PYTHON],
    },
    {   
        title:"ZIA",
        description: "Creado en Python. Es un software que analiza las alertas de los servicios fijos en la red HFC de la operación Tigo Pereira, utilizando los datos obtenidos a través de las APIs de la plataforma Zabbix. El sistema genera notificaciones visuales para alertar al personal sobre cualquier anormalidad detectada y crea automáticamente los incidentes correspondientes en la plataforma de la compañía.",
        link: "",
        github:"",
        image:"/projects/Zia.webp",
        tags:[TAGS.PYTHON],
    },
    {   
        title:"NOCturnal",
        description: "Creado en Python. Es un software que analiza las alertas de las redes DWDM y SDH de Tigo mediante tecnología de web scraping, generando automáticamente los incidentes correspondientes en la plataforma de la compañía.",
        link: "",
        github:"",
        image:"/projects/Nocturnal.webp",
        tags:[TAGS.PYTHON],
    },
    {   
        title:"Fast 6.2",
        description: "Creado en Python. Es un software que procesa los cambios más recientes del control SOX CM 6.2 para Tigo, reduciendo el tiempo de análisis de tres días a solo unos minutos. Automatiza la organización de los registros que contienen las últimas modificaciones en bases de datos y sistemas operativos, y gracias a su nuevo formato de entrega, optimiza significativamente el trabajo de los analistas, agilizando la revisión y validación de la información.",
        link: "",
        github:"",
        image:"/projects/Fast6.2.webp",
        tags:[TAGS.PYTHON],
    },
    {
        title:"SimONU JMB 2025",
        description: "Creado con WIX. Es la página web para la versión actualizada y reciente del evento de la simulación de la ONU de la Institución Educativa José María Bernal.",
        link: "https://simonujomaber.wixsite.com/2025",
        github:"",
        image:"/projects/simonu2025.webp",
        tags:[TAGS.WIX],
    },

    {
        title:"SimONU JMB 2024",
        description: "Creado con WIX. Es una página web para el evento de la simulación de la ONU de la Institución Educativa José María Bernal.",
        link: "https://simonujomaber.wixsite.com/2024",
        github:"",
        image:"/projects/simonu2024.webp",
        tags:[TAGS.WIX],
    },

    {
        title:"SimONU Kids JMB 2024",
        description: "Creado con WIX. Es una página web para el evento de la simulación de la ONU en la versión de los estudiantes de primaria pertenecientes de la Institución Educativa José María Bernal.",
        link: "https://simonujomaber.wixsite.com/kids2024",
        github:"",
        image:"/projects/simonuKIDS2024.webp",
        tags:[TAGS.WIX],
    },

]
---

{

    PROJECTS.map(project =>(
        <article class="pb-10">
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">
                {project.link && project.link.trim() !== "" ? (
                    <a href={`${project.link}`} target="_blank">
                        • {project.title}
                    </a>
                ) : (
                    <span>
                        • {project.title}
                    </span>
                )}
            </h3>
            <p class="text-lg mb-4 text-pretty">
                {project.description}
            </p>
            {project.tags&&(
            <ul class="flex gap-x-2 flex-row mb-2">
                    {project.tags.map(tag =>(
                        <li>
                            <span class={`${tag.class} flex gap-x-2 rounded-full font-semibold py-1 px-2 text-center items-center`}>
                                <tag.icon class="size-8" />{tag.title}
                            </span>
                        </li>
                    ))
                    }
                
            </ul>
            )}
            <img class="rounded shadow-2xl shadow-white/10" src={project.image} alt={`Captura de pantalla del proyecto ${project.title}`}>
        </article>
    ))
    
}