---
import AstroICON from '../icons/Astro.astro';
import WixIcon from '../icons/Wix.astro';
import TailwindIcon from '../icons/Tailwind.astro';
const TAGS={
    ASTRO:{
        title:"Astro",
        class:"bg-[#d83333] text-black",
        icon: AstroICON,
    },
    WIX:{
        title:"Wix",
        class:"bg-white text-black",
        icon: WixIcon
    },
    TAILWIND:{
        title:"Tailwind CSS",
        class:"bg-white text-[#73bcf6]",
        icon: TailwindIcon
    }
}


const PROJECTS = [

    {
        title:"SimONU JMB 2024",
        description: "Creado con WIX. Es una página web para el evento de la simulación de la ONU de la Institución Educativa José María Bernal.",
        link: "https://simonujomaber.wixsite.com/2024",
        github:"",
        image:"/projects/simonu2024.webp",
        tags:[TAGS.WIX],
    }

]
---

{

    PROJECTS.map(project =>(
        <article>
            <h3 class="text-2xl font-semibold text-yellow-200 mb-2">
                <a href={`${project.link}`} target="_blank">
                    {project.title} 
                </a>
            </h3>
            <p class="text-lg mb-4 text-pretty">
                {project.description}
            </p>
            {project.tags&&(
            <ul class="flex gap-x-2 flex-row mb-2">
                    {project.tags.map(tag =>(
                        <li>
                            <span class={`${tag.class} flex gap-x-2 rounded-full font-semibold py-1 px-2 text-center items-center`}>
                                <tag.icon class="size-8" />{tag.title}
                            </span>
                        </li>
                    ))
                    }
                
            </ul>
            )}
            <img class="rounded shadow-2xl shadow-white/10" src={project.image} alt={`Captura de pantalla del proyecto ${project.title}`}>
        </article>
    ))
    
}